* {
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  background: #eee;
  font-size: 18px;
  transition: 0.2s;
  list-style-type: none;

  -webkit-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

/* çift sayılı liste elemanları */
ul li:nth-child(odd) {
  background: #f9f9f9;
}

ul li:hover {
  background: #ddd;
}

ul li.checked {
  background: #276678;
  color: #fff;
  text-decoration: line-through;
}

ul li.checked::before {
  content: "";
  position: absolute;
  border: 0 2px 2px 0 solid #fff;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}

.close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 12px 16px;
}

.close:hover {
  background-color: #dc3545;
  color: #fff;
}

h2 {
  margin-top: 5px;
  padding: 5px;
}

.header {
  background-color: #dc8686;
  color: white;
  padding: 30px 40px;
  text-align: center;
}

.header:after {
  content: "";
  display: block;
  clear: both;
}

img {
  background-color: white;
  max-width: 40%;
  height: auto;
  opacity: 0.3;
}

input {
  float: left;
  font-size: 16px;
  margin: 0;
  padding: 10px;
  width: 75%;
  border: none;
  border-radius: 0;
}

.button {
  cursor: pointer;
  float: left;
  width: 25%;
  padding: 10px;
  font-size: 16px;
  text-align: center;
  background: #d9d9d9;
  color: #555;
  transition: 0.3s;
  border-radius: 0;
}

.button:hover {
  background-color: #bbb;
}
